<div style="zoom: 90%; background-color: rgb(235,235,235);">
    <div class="row">
        <div class="col-lg-3 col-sm-3 col-md-3">Customer Name</div>
        <div class="col-lg-3 col-sm-3 col-md-3">
                <select name="" id=""   [(ngModel)]="customerNameIndex" >
                    <option value="{{i}}" *ngFor="let customer of customerList; let i=index;">{{customer.customerName}}</option>
                </select>
            </div>
        <div class="col-lg-3 col-sm-3 col-md-3">Date of Receipt</div>
        <div class="col-lg-3 col-sm-3 col-md-3"><input type="date" [(ngModel)]="dateofReceipt"></div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-sm-3 col-md-3">Amount Received</div>
        <div class="col-lg-3 col-sm-3 col-md-3"><input type="text" [(ngModel)]="amountReceived"></div>
        <div class="col-lg-3 col-sm-3 col-md-3">Mode of Payment</div>
        <div class="col-lg-3 col-sm-3 col-md-3">
            <select name="" id=""   [(ngModel)]="modeofPayment">
                <option value="{{type}}" *ngFor="let type of typeofpayments">{{type}}</option>
            </select>
            </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-sm-3 col-md-3">Payment Details</div>
        <div class="col-lg-3 col-sm-3 col-md-3"><input type="text" [(ngModel)]="paymentDetails"></div>
        <div class="col-lg-3 col-sm-3 col-md-3"></div>
        <div class="col-lg-3 col-sm-3 col-md-3"><button (click)="submitDetails()" class="primary">Submit Details</button></div>
    </div>
</div>

<div style="zoom: 90%; border-top: 1px solid gray; padding-top: 5px; padding-bottom: 5px; border-bottom: 1px solid gray; background-color: #0d6efd!important; color: white; border-top: 1px solid black; border-bottom: 1px solid black;">
    <span>Filter Records</span>
     <span>
        <select name="" id=""  #selection (change)="filterRecords(selection.value)" [(ngModel)]="filterValue">
            <option value="">Select Customer Name</option>
            <option value="{{customer.customerName}}" *ngFor="let customer of customerList; let i=index;">{{customer.customerName}}</option>
        </select>
    </span>
    <span>
        Net Payment Received : {{netPaymentReceived}}
    </span>
    <span> Net Invoice Amount : {{netInvoiceAmount}}</span>
    <span>Balance Remaining : {{balanceRemaining}}</span>
</div>

<div class="row" style="zoom: 80%; ">
    <div class="col-lg-7" >
        <div class="row" style="background-color: rgb(201, 201, 201); border-top: 1px solid black; border-bottom: 1px solid black;">
        
            <div class="col-lg-3 col-sm-3 col-md-3">Customer Name</div>
            <div class="col-lg-2 col-sm-2 col-md-2">Date Of Payment</div>
            <div class="col-lg-2 col-sm-2 col-md-2">Amount Received</div>
            <div class="col-lg-2 col-sm-2 col-md-2">Mode Of Payment</div>
            <div class="col-lg-3 col-sm-3 col-md-3">Payment Details</div>
          
            
            </div>
        <div class="row" *ngFor="let pay of filteredPaymentHistory; let i=index;" [class.bgRowOdd]="i%2!=0">
            <div class="col-lg-3 col-sm-3 col-md-3">{{pay.customerName}}</div>
            <div class="col-lg-2 col-sm-2 col-md-2">{{pay.dateofReceipt}}</div>
            <div class="col-lg-2 col-sm-2 col-md-2">{{pay.amountReceived}}</div>
            <div class="col-lg-2 col-sm-2 col-md-2">{{pay.modeofPayment}}</div>
            <div class="col-lg-3 col-sm-3 col-md-3">{{pay.paymentDetails}}</div>
           
        </div>
    </div>
    <div class="col-lg-5">
        <div class="row" style="background-color: rgb(201, 201, 201); border-top: 1px solid black; border-bottom: 1px solid black;">
            <div class="col-lg-4 col-sm-4 col-md-4">Customer Name</div>
            <div class="col-lg-4 col-sm-4 col-md-4">Date Of Invoice</div>
            <div class="col-lg-4 col-sm-4 col-md-4">Invoice Amount</div>
            
            </div>
            <div class="row" *ngFor="let hist of filteredInvoiceHistory; let i=index;" [class.bgRowOdd]="i%2!=0">
                <div class="col-lg-4 col-sm-4 col-md-4">{{hist.customer.customerName}}</div>
                <div class="col-lg-4 col-sm-4 col-md-4">{{hist.invoiceDate}}</div>
                <div class="col-lg-4 col-sm-4 col-md-4">{{hist.totalInvoiceValue}}</div>
               
        </div>
    </div>
   
</div>

    

